@import url('https://fonts.googleapis.com/css?family=Iansui');

body {
    background-color:#FFF8E7;

    font-family: 'Iansui',Times;
    font-size: medium;

    margin:0;
}

hr {
    color:black;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered #post-context {
  width: 100%;
  max-width: 800px;
}

/*Flexbox Container */

.flex_container {
    display: flex;
    gap: 20px;
}

.flex_column1 {
    flex:1
}

.flex_column2 {
    flex:2
}

/* header/footer */
.header {
    top: 0;
    margin:0;
    padding: 10px;
    padding-bottom: 0px;
    height: auto;
    z-index: 9999;

    background-image:linear-gradient(to bottom,white, #FFF8E7);
    color: #0d1b2a;
}

.footer {
    bottom: 0;
    margin:0;
    padding: 10px;
    padding-top: 0px;
    height: auto;
    z-index: 9999;

    background-image:linear-gradient(to bottom,white, #FFF8E7);
    color: #0d1b2a;
    font-family: 'Iansui';
}

.flagsticker {
    width:15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    align-items: center;
    width:35%;
    font-size: large;
    font-weight: bold;
}


.rounded-container {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    margin: 10px;
}


#left.title {
    justify-content: flex-end;
}

#right.title {
    justify-content: flex-start;
}

.right {
    text-align: right;
    width: 90%;
}

.menu {
    width:80%;
    margin:auto;
}

.londonbg {
    background-image: url('../images/londonv2.jpg');
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}
.mapbg {
    background: white;
    background-image: url('../images/worldmap.jpg');
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat;
}

/* IDs */

#home_logo {
    text-decoration: none;
    color: black;
}

#discord_link {
    padding: 20px;
    justify-content: center;

    text-align: center;
    background-color: #242429;
    color: white;
}

#join_button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    width:100%;

    text-align: center;
    background-color: #008545;
    color: white;

    cursor: pointer;
}

#join_button:hover {
    background-color: #006634;
}

#category-name {
    font-size: xxx-large;
    color: #1d70b8;
    margin: 0;
    padding: 0;
}

/* link0001 */
.link0001 {
    gap: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Iansui';
}

.link0001 a:link,
.link0001 a:visited,
.link0001 a:hover,
.link0001 a:active {
    text-decoration: none;
    color: black;
    font-family: 'Iansui';
}

/* Buttons */

#button0001 {
    cursor:pointer;
    border:none;
    border-radius: 15px;
    background-color: #1d70b8;
    width: 70%;
    height:40%;
    color:white;
    font-family: 'Iansui';
    padding:20px;
}

/* For mobiles */

@media (max-width: 1020px) {
  .displayN {
    display: none;
  }
}