@import url('https://fonts.googleapis.com/css?family=Iansui');

body {
    background-color:#FFF8E7;

    font-family: 'Iansui',Times;
    font-size: medium;

    margin:0;
}

hr {
    color:black;
}

/*Flexbox Container */

.flex_container {
    display: flex;
    gap: 20px;
}

.flex_column1 {
    flex:1
}

.flex_column2 {
    flex:2
}

/* header */
.header {
    position: sticky;
    top: 0;
    margin:0;
    padding: 10px;
    padding-bottom: 0px;
    height: auto;
    z-index: 9999;

    background-image:linear-gradient(to bottom,white, #FFF8E7);
    color: #0d1b2a;
    font-family: 'Iansui';
}

#header {
    background-image:linear-gradient(to bottom,white, #FFF8E7);
}

.flagsticker {
    width:15%;
    text-align: center;
}

.title {
    align-items: center;
    width:35%;
    font-size: large;
    font-weight: bold;
}

#left.title {
    justify-content: flex-end;
}

#right.title {
    justify-content: flex-start;
}

.right {
    text-align: right;
    max-width: 280px;
}

.menu {
    width:80%;
    margin:auto;
}

.londonbg {
    background-image: url('../images/londonv2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
}

/* IDs */

#home_logo {
    text-decoration: none;
    color: black;
}

/* link0001 */
.link0001 {
    gap: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Iansui';
}

.link0001:link,
.link0001:visited,
.link0001:hover,
.link0001:active {
    text-decoration: none;
    color: black;
    font-family: 'Iansui';
}