@import url('https://fonts.googleapis.com')

html {
    background-color: #FFF8E7;
}

body {
    font-family: 'Iansui';
    font-size: medium;

}

.flex_container {
    display: flex;
    gap: 20px;
}

/* header */
.header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-image:linear-gradient(to bottom,white, #FFF8E7);
    color: #0d1b2a;
    height: 250px;
    font-family: 'Iansui';
}

.flagsticker {
    flex:1;
    width:15%;
}

.title {
    flex:1;
    align-items: center;
    width:35%;
    font-size: xx-large;
    font-weight: bold;
}

.right {
    text-align: right;
}

.menu {
    width:80%;
    margin:auto;
}

/* IDs */

#home_logo {
    text-decoration: none;
    color: black;
}

#link0001 {
    flex:4;
}