.header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #f1f1f1;
    color: #0d1b2a;
    height: 250px;
}

.title {
    flex:1;
    align-items: center;
    width:50%;
    font-size: xx-large;
    font-weight: bold;
}

.right {
    text-align: right;
}

.menu {
    width:80%;
    margin:auto;
}

table {
    width: 100%;
}

#menu-table td,th {
    border: 0px;
    text-align: center;
    padding:20px;
}